<div class="container">
<h2>Welcome to Flockify!</h2>
<p>Flockify is a place to share and discuss music in a private, intimate social setting.</p>

<p>To get started, post an album to the feed with a short description as to why you think the group will like this album. Your friends can listen, gif-comment, and vote on your musical suggestion. Each upvote and downvote will contribute to your weekly and total scores. Every Sunday evening a winner from the previous week will be crowned, and a loser will be shamed.</p>
<div>
Actions on a post:
<p>
<ng-md-icon icon="arrow_upwards" class="arrow" size="28"></ng-md-icon> Click the <b>upvote</b> arrow if you like the post. This will award the poster 1 point.</p>
<p>
<ng-md-icon icon="arrow_downward" class="arrow" size="28"></ng-md-icon> Click the <b>downvote</b> arrow if you think the post doesn't belong here. This will remove 1 point from the poster's score.</p>
<p>
<ng-md-icon icon="save" class="arrow" size="28"></ng-md-icon> Click the <b>save</b> button to save the album to your queue</p>
<p>
<img src="/images/gold-star.png" class="star"/>  <b>Stars</b> can be awarded to special posts. A listener may deem a posted album worthy of a star for any reason, and the poster will receive 2 points for each starred post.</p>
</div>
</div>