
     <md-dialog class="md-padding" ng-cloak flex="90">

      <div class="md-toolbar-tools" align="center">
  
      <h2><b>{{artist}}</b> - {{album}}</h2>

      </div>

      <md-dialog-content>
       <div class="md-dialog-content">

      <div align="center">
        <img ng-src="{{image_medium}}" height="180"/>
      </div>
   <form name="form">
      <small class="text-muted" ng-show="form.summary.$error.required">
      <font color="red">Please provide a quick description of your post</font></small>
        <textarea required class="form-control" placeholder="explain yourself" name="summary" ng-model="summary" rows="2"></textarea> 
        <div role="alert">     
         <br />
       </div>
     </form>


    <md-chips ng-model="selectedTags" md-autocomplete-snap
              md-transform-chip="transformChip($chip)"
              md-require-match="false">
      <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in querySearch(searchText)"
          md-item-text="item.$value"
          placeholder="Add hashbrown tags">
        <span md-highlight-text="searchText">{{item.$value}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          <strong>{{$chip.$value}}{{$chip.name}}</strong>
        </span>
      </md-chip-template>
    </md-chips>
        </div>

    </md-dialog-content>


 <md-dialog-actions layout="row">
  <md-button type="button" class="md-raised md-primary" ng-click="submitPost()">post</md-button>

  <md-button type="button" class="md-raised" style="background-color:#00cc00" ng-click="openInSpotify()" >listen</md-button>
  
  <md-button type="button" class="md-raised md-secondary" ng-click="cancel()">close</md-button>   
</md-dialog-actions>

</md-dialog>
