     <div class="modal-header">
      <h4 class="modal-title">{{artist}} - {{album}}</h4>
    </div>
    <div class="modal-body">
      <div align="center">
        <img ng-src="{{image_medium}}" height="200"/>

      </div>

      <!--      <iframe ng-src="{{embed_link}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->
      <small class="text-muted" ng-show="form.summary.$error.required"><font color="red">Please provide a quick description of your post</font></small>
      <form name="form">
        <textarea required class="form-control" placeholder="explain yourself" name="summary" ng-model="summary" rows="2"></textarea> 
        <div role="alert">
          
         <br />

       </div>
     </form>
   </p>
 </div>

 <div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="submitPost()">post</button>

  <button type="button" ng-click="openInSpotify()" class="btn btn-success">listen</button>
  
  <button type="button" class="btn btn-secondary" ng-click="cancel()">close</button>   
</div>