<!-- ************************************************** mobile ********************************************************** -->

<div ng-show="user" class="container" ng-cloak hide-md hide-gt-md show-xs show-sm>
  <div align="center">


    <a ng-href="{{ post.media_info.share_uri }}" target="_blank">
      <img ng-src="{{ post.image_medium }}" class="comments"/>
    </a>
    <iframe ng-src="{{songLinkUrl}}" height="88" width="90%" frameborder="0" allowtransparency="true"></iframe>

    <div style="padding-right:8px"><img ng-repeat="i in getNumber(post.stars) track by $index" ng-src="/images/gold-star.png" height="18"/>

      <a data-toggle="modal" ng-click="starPost(post)" href="">
        <img ng-src="/images/empty-star.png" height="32" style="padding-bottom:2px"/></a>
    </div>

    <div layout="row" layout-align="center center">

      <md-button style="fill:white"  class="md-icon-button" ng-click="save(post)" aria-label="Save">
        <ng-md-icon icon="save" class="arrow" size="32"></ng-md-icon>
      </md-button>

      <md-button style="fill:white"  class="md-icon-button" ng-click="upvote(post)" aria-label="Upvote">
        <ng-md-icon icon="arrow_upwards" class="arrow" size="32"></ng-md-icon>
      </md-button>
      <md-button class="md-fab md-raised md-hue-1" style=" z-index:1"><b style="font-size:22pt">{{ post.score }}</b>
      </md-button>
      <md-button style="fill:white"  class="md-icon-button" ng-click="downvote(post)" aria-label="Downvote">
        <ng-md-icon icon="arrow_downward" class="arrow" size="32"></ng-md-icon>
      </md-button>
      <md-button style="top:11px; left:2px; overflow:visible !important; fill:white" ng-href="#/albums/{{ post.$id }}"
                 aria-label="Comments">
      <span class="comments-icon-big"><ng-md-icon icon="chat_bubble" class="arrow" size="34"></ng-md-icon>

      <span class="after label label-pill label-danger">{{ post.comments }}</span></span>
      </md-button>
    </div>

  </div>

  <div>

    <a ng-href="{{concert.tickets_url}}" target="_blank"><div ng-show="concert.displayName" class="alert alert-success" role="alert">
      <p><b>{{concert.displayName}}</b></p>
  <p><small>{{post.media_info.artist}} is playing near you on {{concert.show_date | date:'MMM d, y h:mm a'}} at <i>{{concert.venue_name}}</i>
  in {{concert.venue_city}}</small>
  <p><md-button ng-href="{{concert.tickets_url}}" target="_blank" style="color:#FF1493"><img src="/images/ticket.png" height="32px" />tickets</md-button></p>
  </div></a>


    <div>
      <a ng-href="{{ post.media_info.share_uri }}" target="_blank">
        {{ post.media_info.artist }} - {{ post.media_info.album }} ({{ post.media_info.release_date | limitTo: 4}})
      </a>
    </div>

    <div>
      <small><b>posted by <a ng-href="#/users/{{ post.creator_id }}">{{ post.creator_name }}</b>
        <!--  <img src="/images/poop.gif" style="padding-bottom:10px; padding-left:3px" ng-show="post.creator == 'Nrblanks' || post.creator == 'Stevie' || post.creator == 'davidemerritt' || post.creator == 'Oat'" height="50px"/><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:6px" ng-show="post.creator == 'sparker'" height="30px"/> -->
        </a> <i> {{post.created_ts | timeAgo}} </i><a ng-click="deletePost(post)" ng-show="user.$id === post.creator_id ">&mdash; delete</a></small>
    </div>


    <div class="alert alert-secondary" role="alert">{{ post.media_info.summary }}</div>
    <div layout="row" layout-align="center center">
      <md-chips class="tag-chip" ng-model="post.tags" readonly="true">
        <md-chip-template>
        <span>
          <small>{{ $chip.name | lowercase }}</small>
        </span>
        </md-chip-template>
      </md-chips>
    </div>

    <div ng-show="user.$id === post.creator_id" layout="row" layout-align="center center">
      <md-chips ng-show="user.$id === post.creator_id"
                ng-model="selectedTags" md-autocomplete-snap
                md-transform-chip="transformChip(post,$chip)"
                md-require-match="false"
                md-separator-keys="keys">

        <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in querySearch(searchText)"
          md-item-text="item.$value"
          placeholder="Add tags">
          <span md-highlight-text="searchText">{{item.$value}}</span>
        </md-autocomplete>
        <md-chip-template>
        <span>
          <strong>{{$chip.$value}}{{$chip.name}}</strong>
        </span>
        </md-chip-template>
      </md-chips>
    </div>


    <div ng-repeat="comment in comments" class="row cmt">
      <div class="col-md-12">
        <p><img ng-src="{{comment.text}}" height="100" class="gif"/></p>
    <md-button style="padding: 0 4px;
    margin: 0px 0px;
    line-height: 0px;
    min-height: 0px;" ng-click="likeComment(comment)">
    <ng-md-icon icon="thumb_up" size="22"></ng-md-icon></md-button>
    <b>{{comment.likes}}</b>
 <!--      <md-button style="padding: 0 4px;
    margin: 0px 0px;
    line-height: 0px;
    min-height: 0px;" ng-click="dislikeComment(comment)">
    <ng-md-icon icon="thumb_down" size="22"></ng-md-icon></md-button>
    <b>{{comment.dislikes}}</b> -->
        <p class="author">posted by
          <a ng-href="#/users/{{ comment.creator_id }}">
            {{ comment.creator_name }}

            <!--  <img src="/images/poop.gif" style="padding-bottom:10px; padding-left:2px" ng-show="comment.creator  == 'Nrblanks' || comment.creator   == 'Stevie' || comment.creator == 'davidemerritt' || comment.creator == 'Oat'" height="50px"/><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:2px" ng-show="comment.creator == 'sparker'" height="30px"/> -->


          </a>{{comment.datetime_ts | timeAgo}}
          <a ng-href=""
             ng-click="deleteComment(comment)"
             ng-show="user && comment.creator_id === user.$id">
            (delete)
          </a>
        </p>
      </div>
    </div>

    <div class="cmt-form">
      <div ng-hide="user">
        <p><a href="#/login">Sign in</a> to post a comment</p>
      </div>

      <form ng-show="user" ng-submit="gifsearch()" style="color:black !important" >
        <input type="text" ng-model="gifSearchText" placeholder="search for gif"/>
        <input type="submit" value="search for gif" class="btn btn-secondary"/>
      </form>
      <!--       <md-input-container>
             <label>Search for a gif</label>
             <input ng-model="">
           </md-input-container> -->
      or
      <form ng-show="user" ng-submit="addComment(gifLink)" style="color:black !important">
        <input type="text" ng-model="gifLink" placeholder="paste gif link"/>
        <input type="submit" value="paste gif link" class="btn btn-secondary"/>
      </form>
    </div>
    <br/>
    <md-progress-circular ng-show="loadingCircle" md-mode='indeterminate' md-diameter="132"></md-progress-circular>
    <div ng-repeat="gif in gifs" style="display:inline-block;">
      <a ng-href="#/albums/{{ post.$id  }}" ng-click="addComment(gif.images.downsized.url)"><img class="gifs"
                                                                                                 ng-src="{{gif.images.downsized.url}}"
                                                                                                 height="100"/></a>
    </div>



    <p ng-show="related_albums.length > 0"><i><b>Related Albums:</b></i></p>
    <md-progress-circular ng-show="loadingCircleRelated" md-mode='indeterminate' md-diameter="132"></md-progress-circular>
     <div layout="row" style="padding-bottom:20px">

          <ul id="imgList">
            <li ng-repeat="album in related_albums | orderBy:['relevance_score', '-score'] | filter:'spotify' | limitTo:10 track by album.$id" >
            <md-tooltip>{{album.media_info.artist}} - {{album.media_info.album}}</md-tooltip>
              <img style="padding-bottom:10px" class="thumbnail" ng-src="{{album.image_medium}}" ng-click="goToAlbum(album.$id)" height="100">
            </li>
          </ul>
     </div>


  </div>
</div>

<!-- *********************************************************** desktop ************************************************************************************ -->

<div ng-show="user" flex style="width: 98%" ng-cloak layout="row" layout-xs="column" hide-xs hide-sm>

  <div flex flex-gt-md="50" >
    <div style="position:fixed;">
      <br/>
      <a ng-href="{{post.media_info.share_uri}}" target="_blank">
        <img ng-src="{{post.image_medium}}" class="comments"/>
      </a>

      <div class="embed-container">
        <iframe ng-src="{{iframeUrl}}" height="80" frameborder="0" allowtransparency="true"></iframe>
        <iframe ng-src="{{songLinkUrl}}" height="88" frameborder="0" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>



  <div flex flex-gt-md="50">


    <div>
      <br/>
      <a ng-href="{{post.media_info.share_uri}}" target="_blank">
        <b>{{post.media_info.artist}} - {{ post.media_info.album }} ({{post.media_info.release_date | limitTo: 4}})</b>
      </a>
    </div>

    <div>
      <small><b>posted by <a ng-href="#/users/{{ post.creator_id }}">{{post.creator_name}}</b>
        <!--  <img src="/images/poop.gif" style="padding-bottom:10px; padding-left:3px" ng-show="post.creator == 'Nrblanks' || post.creator == 'Stevie' || post.creator == 'davidemerritt' || post.creator == 'Oat'" height="50px"/><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:6px" ng-show="post.creator == 'sparker'" height="30px"/> -->

        </a>
        <i>{{post.created_ts | timeAgo}}</i> <a ng-click="deletePost(post)" ng-show="user.$id === post.creator_id">&mdash; delete</a></small>

    </div>
         <div><img ng-repeat="i in getNumber(post.stars) track by $index" ng-src="/images/gold-star.png" height="18"/>
        <a ng-click="starPost(post)" href="">
          <img ng-src="/images/empty-star.png" height="32" style="padding-bottom:2px"/></a>
      </div>
          <div layout="row" layout-align="left center">
        <md-button style="fill:white" class="md-icon-button" ng-click="save(post)" aria-label="Save">
          <ng-md-icon icon="save" class="arrow" size="32"></ng-md-icon>
        </md-button>

        <md-button style="fill:white" class="md-icon-button" ng-click="upvote(post)" aria-label="Upvote">
          <ng-md-icon icon="arrow_upwards" class="arrow" size="32"></ng-md-icon>
        </md-button>
        <md-button class="md-fab md-raised md-hue-1" style=" z-index:1"><b style="font-size:22pt">{{ post.score }}</b>
        </md-button>
        <md-button style="fill:white"  class="md-icon-button" ng-click="downvote(post)" aria-label="Downvote">
          <ng-md-icon icon="arrow_downward" class="arrow" size="32"></ng-md-icon>
        </md-button>
        <md-button style="top:11px; left:2px; overflow:visible !important; fill:white" ng-href="#/albums/{{post.$id}}"
                   aria-label="Comments">
  <span class="comments-icon-big"><ng-md-icon icon="chat_bubble" class="arrow" size="34"></ng-md-icon>
  <span class="after label label-pill label-danger">{{ post.comments }}</span></span>
        </md-button>
      </div>






    <div><p>{{post.media_info.summary}}</p></div>
    <div layout="row" layout-align="left center">
      <md-chips class="tag-chip" ng-model="post.tags" readonly="true">
        <md-chip-template>
        <span>
          <small>{{$chip.name | lowercase}}</small>
        </span>
        </md-chip-template>
      </md-chips>
    </div>

    <a ng-href="{{concert.tickets_url}}" target="_blank"><div ng-show="concert.displayName" class="alert alert-success" role="alert">
      <p><b>{{concert.displayName}}</b></p>
<p><small>{{post.media_info.artist}} is playing near you on {{concert.show_date | date:'MMM d, y h:mm a'}} at <i>{{concert.venue_name}}</i>
in {{concert.venue_city}}</small>
<p><md-button ng-href="{{concert.tickets_url}}" target="_blank" style="color:#FF1493"><img src="/images/ticket.png" height="32px" />tickets </md-button></p>
</div></a>

    <div ng-show="user.$id === post.creator_id" layout="row" layout-align="center center">
      <md-chips ng-show="user.$id === post.creator_id"
                ng-model="selectedTags" md-autocomplete-snap
                md-transform-chip="transformChip(post,$chip)"
                md-require-match="false"
                md-separator-keys="keys">

        <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in querySearch(searchText)"
          md-item-text="item.$value"
          placeholder="Add tags">
          <span md-highlight-text="searchText">{{item.$value}}</span>
        </md-autocomplete>
        <md-chip-template>
        <span>
          <strong>{{$chip.$value}}{{$chip.name}}</strong>
        </span>
        </md-chip-template>
      </md-chips>
    </div>


    <div ng-repeat="comment in comments" class="row cmt">
      <div class="col-md-12">
        <p><img ng-src="{{comment.text}}" height="100" class="gif"/></p>

<md-button style="padding: 0 4px;
    margin: 0px 0px;
    line-height: 0px;
    min-height: 0px;" ng-click="likeComment(comment)">
    <ng-md-icon icon="thumb_up" size="22"></ng-md-icon></md-button>
    <b>{{comment.likes}}</b>
<!--      <md-button style="padding: 0 4px;
    margin: 0px 0px;
    line-height: 0px;
    min-height: 0px;" ng-click="dislikeComment(comment)">
    <ng-md-icon icon="thumb_down" size="22"></ng-md-icon></md-button>
    <b>{{comment.dislikes}}</b> -->


        <p class="author">posted by
          <a ng-href="#/users/{{ comment.creator_id }}">
            {{ comment.creator_name }}
          </a>{{comment.datetime_ts | timeAgo}}
          <a ng-href=""
             ng-click="deleteComment(comment)"
             ng-show="user && comment.creator_id === user.$id">
            (delete)
          </a>
        </p>
      </div>
    </div>

    <div class="cmt-form">
      <div ng-hide="user">
        <p><a href="#/login">Sign in</a> to post a comment</p>
      </div>
      <small>Add a gif comment:</small>
      <div layout-gt-sm="row" layout-padding>

        <form ng-show="user"  ng-submit="gifsearch()">
          <md-input-container>
            <label style="color:white">Search for a gif</label>
            <input style="color:white" ng-model="gifSearchText">
          </md-input-container>
        </form>
        <form ng-show="user" style="color:white" ng-submit="addComment(gifLink)">
          <md-input-container>
            <label style="color:white">Paste gif link</label>
            <input style="color:white" ng-model="gifLink"/>
          </md-input-container>
        </form>
      </div>
    </div>
    <md-progress-circular ng-show="loadingCircle" md-mode='indeterminate' md-diameter="132"></md-progress-circular>
    <div ng-repeat="gif in gifs" style="display:inline-block;">
      <a ng-href="#/albums/{{ post.$id  }}" ng-click="addComment(gif.images.downsized.url)"><img class="gifs"
                                                                                                 ng-src="{{gif.images.downsized.url}}"
                                                                                                 height="100"/></a>
    </div>

<p ng-show="related_albums.length > 0"><i><b>Related Albums:</b></i></p>
<md-progress-circular ng-show="loadingCircleRelated" md-mode='indeterminate' md-diameter="132"></md-progress-circular>
 <div layout="row" style="padding-bottom:20px">

      <ul id="imgList">
        <li ng-repeat="album in related_albums | orderBy:['relevance_score', '-score'] | filter:'spotify' | limitTo:10 track by album.$id" >
        <md-tooltip>{{album.media_info.artist}} - {{album.media_info.album}}</md-tooltip>
          <img style="padding-bottom:10px" class="thumbnail" ng-src="{{album.image_medium}}" ng-click="goToAlbum(album.$id)" height="100">
        </li>
      </ul>
 </div>



  </div>
</div>
</div>
