     <div class="modal-header">
            <h4 class="modal-title">{{artist}} - {{album}}</h4>
      </div>
      <div class="modal-body">
      <div align="center">
        <img ng-src="{{image_medium}}" height="200"/>
        </div>
         <small class="text-muted" ng-show="form.summary.$error.required"><font color="red">Please provide a quick description of your post</font></small>
    <form name="form">
        <textarea required class="form-control" placeholder="explain yourself" name="summary" ng-model="summary" rows="2"></textarea> 
           <div role="alert">
    
     <br />





      add to: <div class="btn-group">
  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
    {{selectedCat}}
  </button>
  <div class="dropdown-menu">
     <a class="dropdown-item" ng-repeat="category in categories" ng-click="selectCat(category.$id)" href="">{{category.$id}}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" data-toggle="modal" data-target="#myModal" href="">add new category...</a>
  </div>
</div>

<div style="z-index:10" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">add a new category</h4>
      </div>
      <div class="modal-body">
       <form>
  <fieldset class="form-group">
    <label for="category">category name</label>
    <input type="text" class="form-control" id="category" ng-model="new_category" placeholder="enter the category name">
  </fieldset>
  <fieldset class="form-group">
    <label for="description">description</label>
    <input type="text" class="form-control" id="description" ng-model="new_description" placeholder="provide a description for this category">
  </fieldset>
</form>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="addCategory()" data-dismiss="modal">add category</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    </div>
    </form>
          </p>
              </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="submitPost()">post</button>

         <button type="button" ng-click="openInSpotify()" class="btn btn-success">listen</button>
       
        <button type="button" class="btn btn-secondary" ng-click="cancel()">close</button>   
        </div>