<div style="padding-top:68px" align="center">
 <div ng-hide="signedIn()">
      <p><a href="#/login">Sign in</a> or <a ng-href="#/register">register</a> to post or vote</p>
    </div>

    <small>go to <a href="/#/">albums</a> | <a href="/#/podcasts">podcasts</a> 
    | <a href="/#/movies">movies</a> | <a href="/#/books">books</a></small>
<form ng-submit="search()" ng-show="signedIn()" class="form-inline" >

<input type="text" placeholder="search for book" class="form-control" ng-model="searchTerm" /> 


<input type="submit" value="search" class="btn btn-primary" /> 
<button class="btn btn-secondary" ng-click="clearResults()">clear</button>

</form>

<div class="list-group" ng-repeat="result in results" align="left">

  <button type="button" class="list-group-item" ng-click="viewBook(result)">
  <img ng-src="{{result.artworkUrl60}}"/>

  <small>{{result.artistName}} - {{result.trackName}} ({{result.releaseDate | limitTo:4}})</small>

  </button>


  </div>
 

</div>

<br />
  <!--  <select name="filter" ng-model="data.filter">
      <option value="-votes" ng-click="sorter = '-votes'">popular</option>
      <option value="votes" ng-click="sorter = 'votes'">unpopular</option>
    </select> -->
<div align="center">
<div class="sort-links">
  <a href ng-click="sorter = '-votes'">popular</a>
   <a href ng-click="sorter = '-'">new</a>
    
  <a href ng-click="sorter = 'votes'">unpopular</a>  
<a href ng-click="sorter = '-latest_comment'">new comments</a> 
<!--   <a href ng-click="batchUpdate()">comments</a>  -->
  <a href ng-click="sorter = '-stars'">stars</a> 


    </div>




<br />
    
  <div class="container">

  <div class="album-list" ng-repeat="post in posts | orderBy:sorter | filter:'ebook'" jd-script>

               <div class="post">

     
    <img class="arrow" ng-click="upvote(post)" src="/images/up.png" height="30"></img>
  
    
 
        <a ng-href="{{post.link}}" target="_blank" >
        <img ng-src="{{post.image_medium}}" height="100" />
        </a>
         
           <img class="arrow" ng-click="downvote(post)" src="/images/down.png" height="30"></img>

        <br/>
        <a ng-href="{{post.link}}" target="_blank">
     {{ post.artist }} - {{ post.title }} ({{post.release_date | limitTo: 4}})</a> 
      <a data-toggle="modal" ng-click="starPost(post)" href="" >  <div><img ng-repeat="i in getNumber(post.stars) track by $index" ng-src="/images/gold-star.png" height="18" />
     <img ng-src="/images/empty-star.png" height="18" /></a></div>
       <div>
       <div><span class="label label-default">{{post.genre}}</span></div>

       <a ng-href="#/posts/{{ post.$id  }}"><span class="label label-pill label-info">{{ post.summary | limitTo: 40 }}{{post.summary.length > 40 ? '..' : ''}}</span></a>

  </div>
    <!--    <a ng-href="{{post.spotify_uri}}" ng-show="{{post.release_date}}" target="_blank"> ({{post.release_date}})</a>  -->
       
 
        <p>
         {{ post.votes }} votes
           <small>(posted by <a ng-href="#/users/{{ post.creatorUID }}">{{post.creator}}</a>)</small>
            <small><a ng-href="#/posts/{{ post.$id  }}">comments ({{post.comments}})</a> </small>
      <!--   <small><a ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID">&mdash; delete</a></small> -->

        </p>


         

</div>
</div>
</div>


