<div class="container" ng-show="user" flex ng-cloak>

  <h3 align="center">Flockify Huddle</h3>

  <div ng-repeat="comment in comments.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" class="row cmt">
    <div class="col-md-12">
     <p>
      <a ng-href="#/users/{{ comment.creatorUID }}">
        <b>{{ comment.creator_name }}</b> 

 <!--  <img src="/images/poop.gif" style="padding-bottom:10px; padding-left:2px" ng-show="comment.creator  == 'Nrblanks' || comment.creator   == 'Stevie' || comment.creator == 'davidemerritt' || comment.creator == 'Oat'" height="50px"/><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:2px" ng-show="comment.creator == 'sparker'" height="30px"/> -->

      </a> <i> <span><small>({{comment.datetime_ts | timeAgo}})</small></span></i>: <p ng-bind-html="comment.text"></p></p>
      <!--   <p><img ng-src="{{comment.text}}" height="100" class="gif" /></p> -->   
    </div>
  </div>
  <hr class="style-two"></a>
  <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" first-text="<<" last-text=">>" next-text=">" previous-text="<"></uib-pagination>
  <pre>Page: {{currentPage}} / {{numPages}}</pre>

  <div class="cmt-form">
<!--     <div ng-hide="user">
      <p><a href="#/login">Sign in</a> to chat</p>
    </div> -->

    <form ng-show="user" ng-submit="addComment(commentText)">
      <textarea
      ng-model="commentText"
      placeholder="chat box"
      class="form-control"></textarea>
      <input type="submit" value="send" class="btn btn-primary" />
    </form>
    <br/>
      <p>Add a gif comment:</p>
      <div layout-gt-sm="row" layout-padding>

        <form ng-show="user" ng-submit="gifsearch()">
          <md-input-container>
            <label>Search for a gif</label>
            <input ng-model="gifSearchText">
          </md-input-container>
        </form>
        <form ng-show="user" ng-submit="addComment(gifLink)">
          <md-input-container>
            <label>Paste gif link</label>
            <input ng-model="gifLink"/>
          </md-input-container>
        </form>
      </div>
    </div>
  <div ng-repeat="gif in gifs" style="display: inline-block;">
    <a ng-href="#/chat" ng-click="addGif(gif.images.downsized.url)"><img class="gifs" ng-src="{{gif.images.downsized.url}}" height="100" /></a>
  </div>

</div>