<div class="container" style="padding-top:68px">
      <div align="center">
       
  
    
 
        <a ng-href="{{post.spotify_uri}}" target="_blank">
        <img ng-src="{{post.image_medium}}" class="comments" />
        </a>
        <div>
            <a ng-href="{{post.spotify_uri}}" target="_blank">
        {{post.artist}} - {{ post.album }} ({{post.release_date | limitTo: 4}})
        </a>
        </div>
 <div style="padding-top:5px"> 

      <a href="" data-toggle="tooltip" title="Post approved" data-placement="top"><img class="arrow" ng-click="upvote(post)" src="/images/up.png" height="30" ></img></a>

       <a href="" data-toggle="tooltip" title="Meh.." data-placement="top"><img ng-src="/images/meh.png" height="30" class="arrow" /></a>

   <a href="" data-toggle="tooltip" title="Not into this one" data-placement="top"><img class="arrow" ng-click="downvote(post)" src="/images/down.png" height="30"></img></a>

      <a data-toggle="modal" ng-click="starPost(post)" href="" >  <img ng-src="/images/empty-star.png" height="32" style="padding-bottom:2px" /></a>
      </div> 


     
 
    
        <div>  <small>(posted by <a ng-href="#/users/{{ post.creatorUID }}">{{post.creator}}</a>)</small>
        </div>
        <p>
         {{ post.votes }} <img ng-src="/images/coin.png" height="30px" />

          0 <img ng-src="/images/meh.png" height="22px"/>
          
            {{post.comments}} <a ng-href="#/posts/{{ post.$id  }}"><img ng-src="/images/comments.ico" height="20px" /></a>

         <img ng-repeat="i in getNumber(post.stars) track by $index" ng-src="/images/gold-star.png" height="18" />


        </p>

         
        <small><a ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID">&mdash; delete</a></small>
         <div class="alert alert-info" role="alert">{{post.summary}}</div>
      </div>
 

  <div ng-repeat="comment in comments | orderBy:'-votes'" class="row cmt">
    <div class="col-md-12">
   <p><img ng-src="{{comment.text}}" height="100" /></p>
      <p class="author">posted by
        <a ng-href="#/users/{{ comment.creatorUID }}">
          {{ comment.creator }}
        </a>
        <a ng-href=""
        ng-click="deleteComment(comment)"
        ng-show="signedIn() && comment.creatorUID === user.uid">
        (delete)
      </a>
      </p>
    </div>
  </div>

  <div class="cmt-form">
    <div ng-hide="signedIn()">
      <p><a href="#/login">Sign in</a> to post a comment</p>
    </div>

    <form ng-show="signedIn()" ng-submit="gifsearch()">
      <input type="text" ng-model="gifSearchText" placeholder="search for gif"/>
      <input type="submit" value="Search" class="btn btn-secondary" /> 
      <!-- <button ng-click="gifsearch()" class="btn btn-primary">Search</button> -->
    </form>
  </div>
<br/>
      <div ng-repeat="gif in gifs" style="display: inline-block;">
        
          <a ng-href="#/posts/{{ post.$id  }}" ng-click="addComment(gif.images.downsized.url)"><img class="gifs" ng-src="{{gif.images.downsized.url}}" height="100" /></a>

      </div>










</div>
</div>
</div>