<div class="container" style="padding-top:68px">
      <div align="center">
        <img ng-click="upvote(post)" src="/images/up.svg" height="30"></img>
  
    
 
        <a ng-href="{{post.spotify_uri}}">
        <img ng-src="{{post.image_medium}}" height="100" />
        </a>
         
           <img ng-click="downvote(post)" src="/images/down.svg" height="30"></img>

        <br/>
        <a ng-href="{{post.spotify_uri}}">
        {{post.artist}} - {{ post.album }}
        </a>
 
        <p>
         {{ post.votes }} votes
           <small>(posted by <a ng-href="#/users/{{ post.creatorUID }}">{{post.creator}}</a>)</small>
        <small><a ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID">&mdash; delete</a></small>
      </div>
  

  <div ng-repeat="comment in comments | orderBy:'-votes'" class="row cmt">
    <div class="col-md-12">
  <!-- <sub>{{ comment.votes }}</sub>
      <img ng-click="upvote(comment)" src="/images/up.svg" height="20"></img>
       <img ng-click="downvote(comment)" src="/images/down.svg" height="20"></img> -->

      <p>{{ comment.text }}</p>
      <p class="author">posted by
        <a ng-href="#/users/{{ comment.creatorUID }}">
          {{ comment.creator }}
        </a>
        <a ng-href=""
        ng-click="deleteComment(comment)"
        ng-show="signedIn() && comment.creatorUID === user.uid">
        (delete)
      </a>
      </p>
    </div>
  </div>

  <div class="cmt-form">
    <div ng-hide="signedIn()">
      <p><a href="#/login">Sign in</a> to post a comment</p>
    </div>

    <form ng-show="signedIn()" ng-submit="addComment()">
      <textarea
        ng-model="commentText"
        placeholder="comment"
        class="form-control"></textarea><br />
      <input type="submit" value="Post" class="btn btn-primary" />
    </form>
  </div>
</div>

</div>
</div>