 <div class="alert alert-info" role="alert" align="center" ng-show="show_zip_notification">
  <strong>Enjoy live shows?</strong> Enter your zip code to receive info on upcoming concerts based on artists you like!
  <form ng-submit="updateZip(zip_code)">
  <md-input-container class="md-block" style="width:120px; display: inline-block; padding-left:10px" flex-gt-sm>
            <input name="zipCode" ng-model="zip_code" placeholder=""
                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
              <div ng-message="pattern" class="my-message">Invalid zip
              </div>
            </div>
          </md-input-container>
          <md-button ng-click="updateZip(zip_code)"><small>submit</small></md-button>
          </form>
</div>

 <div layout="row" layout-align="center">
 <md-switch ng-model="only_upvoted" aria-label="Switch 1">
   <small>Only show upvoted artists</small>
  </md-switch>
  </div>
  <div layout="row" layout-align="center">
  <a href="" ng-click="show_zip = !show_zip"><small>change zip</small></a>
    </div>
    <div ng-show="show_zip" layout="row" layout-align="center">
    <form ng-submit="updateZip(zip_code)">
  <md-input-container class="md-block" style="width:120px; display: inline-block; padding-left:10px" flex-gt-sm>
            <input name="zipCode" ng-model="zip_code" placeholder=""
                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
              <div ng-message="pattern" class="my-message">Invalid zip
              </div>
            </div>
          </md-input-container>
          <md-button ng-click="updateZip(zip_code)"><small>submit</small></md-button>
          </form>
          </div>

<div id="md-table-template">
  <table md-colresize="md-colresize" class="md-table">
    <thead ng-show="content.length > 0">
      <tr class="md-table-headers-row">
        <th ng-repeat="h in headers" class="md-table-header"><!-- <a href="#" ng-if="handleSort(h.field)" ng-click="reverse=!reverse;order(h.field,reverse)">{{h.name}} <i ng-show="reverse &amp;&amp; h.field == predicate" class="ion-android-arrow-dropup"></i><i ng-show="!reverse &amp;&amp; h.field == predicate" class="ion-android-arrow-dropdown"></i></a><span ng-if="!handleSort(h.field)"> -->{{h.name}}<!-- </span> --></th>
        <th class="md-table-header"></th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat="c in content | orderBy:'show_date' | filter: (only_upvoted || '') && {upvoted:'true'} | filter:{removed:'!true'} |
      unique:'artist_name' | concertDate:filter_start_date track by c.post_id" class="md-table-content-row" ng-click="goToTickets(c.tickets_url)">
        <td>
          <div class="md-table-thumbs">
            <div style="background-image:url({{c.thumb_url}})"></div>
          </div>
        </td>
        <td>
        <b>{{c.artist_name}}</b>
        </td>
         <td>
        {{c.formatted_datetime}}
        </td>
        <td>
        {{c.venue_name}}
        </td>
         <td>
        {{c.formatted_location}}
        </td>
        <td>
        <a ng-href="{{c.tickets_url}}" target=“_blank”>{{c.ticket_status}}</a>
        </td>
        <td>
          <md-button aria-label="Info" ng-click="removeConcert(c)"> <!-- <ng-md-icon icon="more_vert"></ng-md-icon> -->
          <ng-md-icon icon="clear"></ng-md-icon>
          </md-button>       
        </td>
      </tr>
    </tbody>
  </table>
    <p ng-show="content.length == 0" align="center"><br/><i>No upcoming concerts yet</i></p>
</div>