<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  <meta name="apple-mobile-web-app-title" content="Flockify">

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css"/>
  <link rel="stylesheet" href="bower_components/angular-backtop/angular-backtop.css" />
  <link rel="stylesheet" href="bower_components/angular-timeago/angular-timeago.css" />
  <link rel="apple-touch-icon" href="/favicon.png">
  <link rel="stylesheet" href="styles/main.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

 <!--  <link rel="stylesheet" href="./styles/ng-embed.min.css"/> -->

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cutive|Montserrat|Sigmar+One|Bangers|Nunito' type='text/css'/>
 <link href='https://fonts.googleapis.com/css?family=Raleway:400,800,400italic,500,300,200,700,300italic,200italic,500italic' rel='stylesheet' type='text/css'>
<!--   <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'> -->
<!--   <link href="https://code.ionicframework.com/1.2.4/css/ionic.min.css" rel="stylesheet" type='text/css'> -->

  <!-- endbuild -->
</head>
<body layout="column" ng-app="flockifyApp" >


  <div ng-include="'views/nav.html'"></div>



    <md-content flex>
     <div style="padding-top:66px" layout='column' layout-fill ng-view="">

     </div>
     </md-content>

     <div class="footer">
      <div class="container">

      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73828150-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script>
      var globals = {
        firebase_url: "<%= firebase_url %>"
      };
    </script>

    <script src="/bundle.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/2.2.0/moment-range.min.js"></script>


  </body>
  </html>
