<div class="container" align="center">
<h2>Welcome to Flockify</h2>

<div class="auth-forms">
   <div ng-show="loginLoading" align="center">
   <small><i>Please hold..</i></small>
      <md-progress-circular md-mode='indeterminate' md-diameter="132"></md-progress-circular>
    </div>
  <form ng-submit="login()" ng-hide="hideLogin">
    <p ng-show="error" class="text-danger">{{ error.message }}</p>
    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
    <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
    <input type="submit" value="Log in" class="btn btn-primary" />
  </form>
<!--   <p>not a member? <a ng-href="#/register">register</a> here.</p> -->
</div>
</div>