<div class="container" align="center">
<h2>Welcome to Flockify</h2>

<div class="auth-forms">
   <div ng-show="loginLoading" align="center">
   <small><i>Please hold..</i></small>
      <md-progress-circular md-mode='indeterminate' md-diameter="132"></md-progress-circular>
    </div>
  <form ng-submit="login()" ng-hide="hideLogin">
    <p ng-show="error" class="text-danger">{{ error }}</p>
    <input type="email" ng-model="user.email" placeholder="Email" class="form-control" style="background-color: black;"><br>
    <input type="password" ng-model="user.password" placeholder="Password" class="form-control" style="background-color: black;"><br>
    <input type="submit" value="Log in" class="btn btn-primary" style="background-color: black;"/>
  </form>
  <br/>
  <p style="color: black;">
  <small>Forgot your password? Enter your email above and click the button below</small>
  </p>
  <p>
  <button ng-click="resetPassword()">Send password reset email</button>
  </p>
    <p ng-show="sent" class="text-danger">Check yo email!</p>
<!--   <p>not a member? <a ng-href="#/register">register</a> here.</p> -->
</div>
</div>
