
<div align="center" ng-cloak>
 <div ng-hide="signedIn()">
   <h2>Welcome to flockify</h2>
   <p><a href="/#/login">Sign in</a> to get started</p>
   <!--  <div ng-include="'views/login.html'"></div> -->
 </div>

<div ng-show="user.profile.group_id == 1">
          <md-toolbar class="md-hue-3">
        <div class="md-toolbar-tools" style="max-width:320px">
          <md-button ng-click="clearResults()" aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
          </md-button>
      
          <form ng-submit="search()">
          <md-input-container md-theme="input" style="max-width:190px !important" flex>
            <label>&nbsp;</label>
            <input ng-model="searchTerm" placeholder="post a movie">
          </md-input-container>
          <md-button aria-label="Search" ng-click="search()">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          </form>
        </div>
       
      </md-toolbar>
      </div>

  <div class="list-group" ng-repeat="result in results" align="left">

    <button type="button" class="list-group-item" ng-click="viewMovie(result)">
      <img ng-src="https://img.omdbapi.com/?i={{result.imdbID}}&apikey=973fea0" height="80" />

      <small>{{result.Title}} ({{result.Year | limitTo:4}})</small>

    </button>


  </div>
  

</div>


    <div ng-show="signedIn()">
      <div class="sort-links" align="center">
        <a href ng-click="sorter = '-votes'">popular</a>
        <a href ng-click="sorter = '-'">new</a>
        <a href ng-click="sorter = '-latest_comment'">new comments</a> 
        <a href ng-click="sorter = '-stars'">stars</a> 
      </div>




      <br />
      


      <div class="album-list" ng-repeat="post in posts | orderBy:sorter | filter:'movie/film'" jd-script>

       <div class="post" align="center">
    
        <img class="arrow" ng-show="user.profile.group_id == 1" ng-click="upvote(post)" src="/images/up.png" height="30"></img>
        
        
        
        <a ng-href="{{post.link}}" target="_blank">
          <img class="post" ng-src="{{post.image_medium}}" />
        </a>
        
        <img ng-show="user.profile.group_id == 1" class="arrow" ng-click="downvote(post)" src="/images/down.png" height="30"></img>

        <br/>
        <a ng-href="{{post.link}}" target="_blank">
         {{ post.title }} ({{post.release_date | limitTo: 4}})</a> 
       <div>
         <img ng-repeat="i in getNumber(post.stars) track by $index" ng-src="/images/gold-star.png" height="18" />  
          <a data-toggle="modal" ng-show="user.profile.group_id == 1" ng-click="starPost(post)" href="" > 
           <img ng-src="/images/empty-star.png" height="18" /></a></div>
           <div>
             <div><span class="label label-default">{{post.genre}}</span></div>
             <a href="http://www.imdb.com/title/{{post.imdb_id}}" target="_blank">
              <img ng-src="/images/imdb.ico" height="40" target="_blank">
              <small>{{post.imdb_rating}}</small>
            </a>
            
            <a href="{{post.tomato_url}}" target="_blank">   
             <img ng-show="post.tomato_image == 'certified'" ng-src="/images/certified.png" height="30" />
             <img ng-show="post.tomato_image == 'fresh'" ng-src="/images/fresh.png" height="30" />
             <img ng-show="post.tomato_image == 'rotten'" ng-src="/images/rotten.png" height="30" />
             <small>{{post.tomato_meter}}%</small>
           </a>
           <br/>

           <a ng-href="#/posts/{{ post.$id  }}"><span class="label label-pill label-info">{{ post.summary | limitTo: 40 }}{{post.summary.length > 40 ? '..' : ''}}</span></a>

         </div>
         
         
         <p>
           {{ post.votes }} votes
           <small>(posted by <a ng-href="#/users/{{ post.creatorUID }}">{{post.creator}}</a>)</small>
             <small>

             <a ng-href="#/posts/{{ post.$id  }}">comments ({{post.comments}})</a> </small>
             

           </p>




         </div>
       </div>



