     <div class="modal-header">
            <h4 class="modal-title">{{movie.trackName}} ({{movie.releaseDate | limitTo:4}})</h4>
      </div>
      <div class="modal-body">
      <div>
        <img ng-src="{{movie.artworkUrl100}}" height="100" align="left" style="padding-right:10px" />
       <small> {{movie.longDescription}} </small>
        </div>
         <small class="text-muted" ng-show="form.summary.$error.required"><font color="red">Please provide a quick description of your post</font></small>
    <form name="form">
        <textarea required class="form-control" placeholder="explain yourself" name="summary" ng-model="summary" rows="2"></textarea> 
           <div role="alert">
    
     <br />

    </div>
    </form>
          </p>
              </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="submitPost()">post</button>

         <button type="button" ng-click="openInItunes()" class="btn btn-success">itunes</button>
       
        <button type="button" class="btn btn-secondary" ng-click="cancel()">close</button>   
        </div>