<md-sidenav
  layout="column"
  class="md-sidenav-right"
  md-component-id="right"
  md-disable-backdrop
  md-whiteframe="4">
  <md-content ng-controller="NavCtrl">
    <md-toolbar class="md-theme-indigo">
      <md-select class="md-toolbar-tools" ng-change="change_group()" ng-model="current_group" ng-click="look_for_new_posts()">
        <md-option ng-repeat="group in subscribed_groups" value="{{ group.id }}" ng-selected="{{ group.id == current_group }}"> {{ group.group_name }}
     <span class="label label-info" ng-show="new_posts[group.id]"><small>{{new_posts[group.id]}}</small></span></md-option>
      </md-select>
    </md-toolbar>

    <span flex></span>
    <!--       <p><a ng-show="!user" href="/#/login">Sign in</a></p> -->


    <p ng-show="!user"><a ng-href="#/login">
      <md-button ng-show="!user" class="md-icon-button" aria-label="Chat">
        <i class="fa fa-key fa-2x"></i>
      </md-button>Sign in</a></p>

      <p ng-show="user"><a href="/#/">
      <md-button ng-show="user" class="md-icon-button" aria-label="Albums">
           <i class="fa fa-headphones fa-2x"></i>
      </md-button>Albums</a></p>

    <p ng-show="user"><a ng-href="#/chat#top">
      <md-button class="md-icon-button" aria-label="Chat">
        <i class="fa fa-wechat fa-2x"></i>
      </md-button>Chat</a></p>

    <p ng-show="current_group == 'firsttoflock'"><a ng-href="#/scoreboard">
      <md-button ng-show="user" class="md-icon-button" aria-label="Scoreboard">
        <i class="fa fa-trophy fa-2x"></i>
      </md-button>Scoreboard</a></p>

    <p ng-show="user"><a ng-href="#/users/{{ user.$id }}">
      <md-button ng-show="user" class="md-icon-button" aria-label="Profile">
        <i class="fa fa-user fa-2x"></i>
      </md-button>My Profile</a></p>

      <p ng-show="user"><a ng-href="#/about">
      <md-button ng-show="user" class="md-icon-button" aria-label="About">
        <i class="fa fa-info-circle fa-2x"></i>
      </md-button>About Flockify</a></p>

    <p ng-show="user"><a href="/#/" ng-click="logout()">
      <md-button ng-show="user" class="md-icon-button" aria-label="Logout">
        <i class="fa fa-sign-out fa-2x"></i>
      </md-button>Logout</a></p>

      <md-button ng-click="toggleMenu()" class="md-accent">
          x Close Menu
        </md-button>

    <md-divider/>


  </md-content>
</md-sidenav>


<md-toolbar style="position:fixed !important">

  <div class="md-toolbar-tools" ng-controller="NavCtrl" layout="row">
  <span flex>
    <a href="" ng-click="toTop()"> <h2><img ng-src="/images/flockify.png" height="40px"/></a></h2>
    </span>

   <span flex hide-xs hide-sm>


   <div align="center" style="padding-left: 140px">

   <md-tooltip>
            Change your current flock
          </md-tooltip>
<!--  <img ng-src="/images/birds-wire.png" height="50px" style="position:absolute;z-index:10;top:8px;opacity: 0.8" /> -->

     <md-toolbar class="md-theme-indigo" >
      <img ng-src="/images/birds-wire.png" height="50px" style="position:absolute;z-index:10;top:8px;opacity: 0.8;" />

      <md-select class="md-toolbar-tools" ng-change="change_group()" ng-model="current_group" style="z-index: 12;" ng-click="look_for_new_posts()">

        <md-option ng-repeat="group in subscribed_groups" value="{{ group.id }}" ng-selected="{{ group.id == current_group }}"> {{ group.group_name }}
        <span class="label label-info" ng-show="new_posts[group.id]">{{new_posts[group.id]}}</span></md-option>
      <md-divider></md-divider>
          <md-option disabled="disabled">
            Create new flock...
          </md-option>
      </md-select>


    </md-toolbar>
</div>
    </span>



    <span flex></span>

<!-- *********************mobile*************************** -->
<div hide-md hide-gt-md show-xs show-sm style="padding-bottom:5px !important">
<md-menu ng-hide="notifications.length == 0">
      <md-button style="overflow:visible !important; " aria-label="Open notifications" class="md-icon-button" ng-click="openNotifications($mdOpenMenu, $event)">
        <span class="notifications-icon">
       <ng-md-icon ng-show="new_notifications" icon="notifications_none" style="fill:white" size="32"></ng-md-icon>
       <span class="after label label-pill label-danger" ng-show="new_notifications">{{notifications.length - 1}}</span></span>
      </md-button>
      <md-menu-content width="4">
      <div align="center"><p ng-show="notifications.length == 1"><i>No new notifications</i></p></div>
        <md-menu-item align="center" ng-repeat="notification in notifications" ng-show="notification.msg">

          <md-button ng-href="#{{notification.url}}">
         <small>{{notification.msg}}</small>
          </md-button>
        </md-menu-item>
             <md-menu-divider></md-menu-divider>
      </md-menu-content>
    </md-menu>
</div>
    <!--******************************** desktop ******************** -->

   <md-menu hide-xs hide-sm ng-show="user" style="padding-bottom:6px">
      <md-button style="overflow:visible !important;" aria-label="Open notifications" class="md-icon-button" ng-click="openNotifications($mdOpenMenu, $event)">
        <span class="notifications-icon">
       <ng-md-icon icon="notifications_none" style="fill:white" size="32"></ng-md-icon>
       <span class="after label label-pill label-danger" ng-show="new_notifications">{{notifications.length - 1}}</span></span>
      </md-button>
      <md-menu-content width="4">
      <div align="center" ng-show="notifications.length == 1"><p><i>No new notifications</i></p></div>
        <md-menu-item align="center" ng-repeat="notification in notifications" ng-show="notification.msg">

          <md-button ng-href="#{{notification.url}}" >
         <small>{{notification.msg}}</small>
          </md-button>
        </md-menu-item>
             <md-menu-divider></md-menu-divider>
      </md-menu-content>
    </md-menu>


    <md-button ng-href="#/random" ng-show="user">
    <img src="/images/dice.png" height="32px" />
    <md-tooltip>
      Find a random album in your collection
    </md-tooltip>
    </md-button>


    <md-button ng-href="#/shows" ng-show="user">
    <img src="/images/ticket.png" height="32px" />
    <md-tooltip>
      Upcoming concerts
    </md-tooltip>
    </md-button>



    <md-button class="md-icon-button" aria-label="More">
      <ng-md-icon icon="menu" style="fill:white" ng-click="toggleMenu()"></ng-md-icon>
    </md-button>



    <!--  <li ng-hide="user"><a class="nav-link" href="#/login"><i class="fa fa-sign-in"></i></a></li>
     <li ng-hide="user"><a class="nav-link" href="#/register"><i class="fa fa-pencil-square-o"></i></a></li> -->
  </div>
</md-toolbar>
