<nav class="navbar navbar-fixed-top navbar-dark bg-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
   <a class="navbar-brand" href="/#/">flockify</a>
   
  <div ng-controller="NavCtrl">

    <ul class="nav navbar-nav pull-md-right pull-xs-right" >

  <li class="nav-item" ng-show="signedIn()">
    <a class="nav-link" ng-href="#/users/{{ user.profile.uid }}">
     profile
  <!--     <img ng-src="http://www.gravatar.com/avatar/{{ user.profile.md5_hash }}" class="nav-pic" />    --> 
    </a>
  </li>
  <li class="nav-item" ng-show="signedIn()">
    <a class="nav-link" href="#/" ng-click="logout()">logout</a>
  </li>
  <li class="nav-item" ng-hide="signedIn()">
    <a class="nav-link"href="#/login">login</a>
  </li>
  <li class="nav-item" ng-hide="signedIn()">
    <a class="nav-link" href="#/register">register</a>
  </li>
</ul>

  </div><!-- /.navbar-collapse -->
</nav>