<div style="padding-top:68px" align="center">
 <div ng-hide="signedIn()">
      <p><a href="#/login">Sign in</a> or <a ng-href="#/register">register</a> to post an album or vote</p>
    </div>

<form ng-submit="search()" ng-show="signedIn()" class="form-inline" >

<input type="text" placeholder="enter artist or album" class="form-control" ng-model="post.search" /> 


<button class="btn btn-primary" type="submit">search</button>
<button class="btn btn-secondary" ng-click="clearResults()">clear</button>

</form>

<div class="list-group" ng-repeat="result in results" align="left">

  <button type="button" class="list-group-item" ng-click="viewAlbum(result.href)">
  <img ng-src="{{result.images[2].url}}"/>

  <small>{{result.name}}</small>

  </button>


  </div>
 

</div>

<br />
  <!--  <select name="filter" ng-model="data.filter">
      <option value="-votes" ng-click="sorter = '-votes'">popular</option>
      <option value="votes" ng-click="sorter = 'votes'">unpopular</option>
    </select> -->
<div align="center">
<div class="sort-links">
  <a href ng-click="sorter = '-votes'">popular</a>
   <a href ng-click="sorter = '-'">new</a>
  <a href ng-click="sorter = 'votes'">unpopular</a>  
  <a href ng-click="sorter = '-comments'">comments</a>  
    </div>
        
  <div class="container">

  <div class="album-list" ng-repeat="post in posts | orderBy:sorter" jd-script>

               <div class="post">

     
    <img ng-click="upvote(post)" src="/images/up.svg" height="30"></img>
  
    
 
        <a ng-href="{{post.spotify_uri}}">
        <img ng-src="{{post.image_medium}}" height="100" />
        </a>
         
           <img ng-click="downvote(post)" src="/images/down.svg" height="30"></img>

        <br/>
        <a ng-href="{{post.spotify_uri}}">
        {{post.artist}} - {{ post.album }}
        </a>
 
        <p>
         {{ post.votes }} votes
           <small>(posted by <a ng-href="#/users/{{ post.creatorUID }}">{{post.creator}}</a>)</small>
            <small><a ng-href="#/posts/{{ post.$id  }}">comments ({{post.comments}})</a> </small>
      <!--   <small><a ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID">&mdash; delete</a></small> -->

        </p>
         

</div>
</div>
</div>


