 <md-progress-linear style="top:0;position:fixed;z-index:1000;" ng-show="loadingBar" md-mode="indeterminate"></md-progress-linear>
<!--
<div class="background">
   </div> -->

<div style="padding-bottom:10px" ng-show="user" ng-cloak>

<!-- <div class="alert alert-info" role="alert" align="center">
  <span class="highlight"><strong>Flockify Albums of the Decade</strong></span>
  <p><small>Where were you ten years ago? We'll just assume you were sippin' keystone ice listening to 
    Ms. Perry's 'Firework' on an iPod nano.<a ng-click="showAlert = !showAlert" ng-show="!showAlert" style="font-size:70%"> [view more]</a>
    </small></p> 
    <div ng-show="showAlert">
      <br/>
      <p><small>
    Now that you've finally "shown 'em what you're worth", it's time to distill the past 
    decade into a few kickass albums. Tag entries with FAOTD. Also feel free to nominate a FAOTY2019. 
      Or don't, no rules.</small></p>
    <p><small><strong>2016 FAOTY:</strong> Radiohead, <i>A Moon Shaped Pool</i></small></p>
      <p><small><strong>2017 FAOTY:</strong> Kendrick Lamar, <i>Damn</i></small></p>
      <p><small><strong>2018 FAOTY:</strong> Ty Segall, <i>Freedom's Goblin</i></small></p>
      <p><small><a ng-click="showAlert = !showAlert" ng-show="showAlert" style="font-size:70%">[view less]</a></small></p>
      </div>
</div> -->


<!-- <div class="alert alert-info" role="alert" align="center">Check this out. Connect to spotify and Flockify will create a playlist from all your likes! -->
  <!-- <md-button ng-click="spotify_login()">.</md-button> -->

    <md-button aria-label="Search"
               style="top:14px;right:178px;position:fixed;z-index:2;padding: 0 0px !important;
               margin: 7px 50px !important;" ng-click="load();showSearch = !showSearch; allTime()">
          <md-tooltip>
            Search all posted albums
          </md-tooltip>
      <ng-md-icon icon="search" style="fill:white" size="28"></ng-md-icon>


    </md-button>
    <md-toolbar class="md-hue-1" ng-show="showSearch" style="position:fixed">
      <div class="md-toolbar-tools">
        <md-button ng-click="load();showSearch = !showSearch" aria-label="Back">
          <ng-md-icon icon="arrow_back"></ng-md-icon>
        </md-button>
        <md-input-container md-theme="input" flex>
          <label>&nbsp;</label>
          <input ng-model="textFilter" focus="showSearch" placeholder="search the feed">
        </md-input-container>
        <md-button ng-click="load();clearResults()" aria-label="Back">
          <ng-md-icon icon="clear"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div align="center" style="background-color: 	black;">
      <div class="md-toolbar-tools" style="max-width:320px;">
        <md-button aria-label="Search" show-xs hide-gt-xs ng-show="!post.search"
        ng-click="load();showSearch = !showSearch; allTime()">
        <ng-md-icon icon="search" size="24" style="fill:white;"></ng-md-icon>
          </md-button>
        <md-button aria-label="Search" ng-click="load();search()">
          <md-tooltip >
            Search for an album to post
          </md-tooltip>
          <ng-md-icon icon="my_library_music" style="fill:white" size="28"></ng-md-icon>
        </md-button>
        <form ng-submit="search()">  
          <md-input-container md-theme="input" style="max-width:190px !important;" flex>
            <label>&nbsp;</label>
            <input ng-model="post.search" placeholder="post an album" />
            <div class="md-caption" ng-show="no_results" style="color:red;">
              No results found.
            </div>

          </md-input-container>
          <md-button ng-click="load();clearResults()" ng-show="post.search" aria-label="Back">
            <ng-md-icon icon="clear"></ng-md-icon>
          </md-button>
      
        </form>
      </div>
    </div>

    <md-list ng-repeat="result in results" align="left">
      <md-list-item class="md-2-line" ng-click="viewAlbum(result.id, $event)">
        <img ng-src="{{result.images[2].url}}"/>
        <small>{{result.name}}</small>

      </md-list-item>
        <div ng-show="result.link"><p style="margin-left: 40px"> <i>Wanna give props to the original post?</i>
          <md-button><a href="/#/albums/{{result.link}}">Go to posted album</a></md-button></p></div>
      <md-divider hide-xs hide-sm></md-divider>
    </md-list>

    <div align="center">


      <div class="scrolls" hide-xs hide-sm>
        <md-select ng-model="year" placeholder="year" style="display: inline-block;">
        <md-option value="2020" ng-click="load();byYear(2019)">2020</md-option>
        <md-option value="2019" ng-click="load();byYear(2019)">2019</md-option>
        <md-option value="2018" ng-click="load();byYear(2018)">2018</md-option>
        <md-option value="2017" ng-click="load();byYear(2017)">2017</md-option>
        <md-option value="2016" ng-click="load();byYear(2016)">2016</md-option>
        </md-select>
        <md-button ng-click="load();topAlbum()" ng-show="year==2016" aria-label="top" ng-class="albumContest ? 'md-accent':'md-primary'">faoty</md-button>
        <md-button ng-click="load();topAlbum2017()" ng-show="year==2017" aria-label="top" ng-class="albumContest ? 'md-accent':'md-primary'">faoty</md-button>

        <md-button ng-click="load();faotd()"  aria-label="all" ng-class="faotd_contest ? 'md-accent':'md-primary'">FAOTD</md-button>

        <md-button ng-click="load();allTime()"  aria-label="all" ng-class="allPosts ? 'md-accent':'md-primary'">all time</md-button>


        <md-button ng-click="load();byMonth(1)" ng-show="showMonth(1)" aria-label="jan" ng-class="month==1 ? 'md-accent':'md-primary'">jan</md-button>
        <md-button ng-click="load();byMonth(2)" ng-show="showMonth(2)" aria-label="feb" ng-class="month==2 ? 'md-accent':'md-primary'">feb</md-button>
        <md-button ng-click="load();byMonth(3)" ng-show="showMonth(3)" aria-label="march" ng-class="month==3 ? 'md-accent':'md-primary'">march</md-button>
        <md-button ng-click="load();byMonth(4)" ng-show="showMonth(4)" aria-label="april" ng-class="month==4 ? 'md-accent':'md-primary'">april</md-button>
        <md-button ng-click="load();byMonth(5)" ng-show="showMonth(5)" aria-label="may" ng-class="month==5 ? 'md-accent':'md-primary'">may</md-button>
        <md-button ng-click="load();byMonth(6)" ng-show="showMonth(6)" aria-label="june" ng-class="month==6 ? 'md-accent':'md-primary'">june</md-button>
        <md-button ng-click="load();byMonth(7)" ng-show="showMonth(7)" aria-label="july" ng-class="month==7 ? 'md-accent':'md-primary'">july</md-button>
        <md-button ng-click="load();byMonth(8)" ng-show="showMonth(8)" aria-label="aug" ng-class="month==8 ? 'md-accent':'md-primary'">aug</md-button>
        <md-button ng-click="load();byMonth(9)" ng-show="showMonth(9)" aria-label="sept" ng-class="month==9 ? 'md-accent':'md-primary'">sept</md-button>
        <md-button ng-click="load();byMonth(10)" ng-show="showMonth(10)" aria-label="oct" ng-class="month==10 ? 'md-accent':'md-primary'">oct</md-button>
        <md-button ng-click="load();byMonth(11)" ng-show="showMonth(11)" aria-label="nov" ng-class="month==11 ? 'md-accent':'md-primary'">nov</md-button>
        <md-button ng-click="load();byMonth(12)" ng-show="showMonth(12)" aria-label="dec" ng-class="month==12 ? 'md-accent':'md-primary'">dec</md-button>

        </div>


         <div style="border-bottom: 1px solid #aaa;max-width:50%" hide-xs hide-sm>
        </div>
      <div hide-xs hide-sm>
        <md-button aria-label="new" ng-click="sorter = '-'">new
        </md-button>
        <md-button aria-label="top" ng-click="sorter = ['-score', '-stars']">top
        </md-button>
        <md-button aria-label="comments" ng-click="load();sorter = '-latest_comment'">comments
        </md-button>
        <md-button aria-label="stars" ng-click="load();sorter = ['-stars', '-score']">stars
        </md-button>
      </div>



    </div>

    <md-tabs md-center-tabs="true" md-border-bottom hide-md hide-gt-md show-xs show-sm>
      <md-tab ng-click="thisMonth()" aria-label="month" ng-class="month ? 'md-raised md-primary':'md-raised'"><small>this month</small></md-tab>
      <md-tab ng-click="thisYear()" aria-label="last" ng-class="last ? 'md-raised md-primary':'md-raised'"><small>this year</small></md-tab>
      <md-tab ng-click="allTime()" aria-label="all" ng-class="all ? 'md-raised md-primary':'md-raised'"><small>all time</small></md-tab>
      <md-tab ng-click="load();faotd()"  aria-label="all" ng-class="faotd_contest ? 'md-raised md-primary':'md-raised'"><small>FAOTD</small></md-tab>

    </md-tabs>



    <div align="center" md-border-bottom hide-md hide-gt-md show-xs show-sm>
      <md-button aria-label="new" ng-click="sorter = '-'"><small>new</small>
      </md-button>
      <md-button aria-label="top" ng-click="sorter = ['-score', '-stars']"><small>top</small>
      </md-button>
      <md-button aria-label="comments" ng-click="load();sorter = '-latest_comment'"><small>comments</small>
      </md-button>
      <md-button aria-label="stars" ng-click="load();sorter = ['-stars', '-score']"><small>stars</small>
      </md-button>
    </div>


    <div align="center">
      <md-chips ng-model="tagFilters" readonly="true">
        <md-chip-template ng-click="load();removeTag($chip)">
          <strong style="color:black">{{$chip | lowercase}}</strong>  x
        </md-chip-template>
      </md-chips>
    </div>
    <!--   <a href ng-click="batchUpdate()">batch</a>  -->
    <!-- <p ng-show="filteredItems.length == 0" align="center" style="padding-top: 20px"><i>Looks like there are no albums here yet</i></p> -->
 <div ng-hide="loadingCircle">
    <div class="post" ng-repeat="post in filteredItems=(posts | orderBy:sorter | filter:'spotify' | byLabel:label_filter |
isAfter:filter_start_date:filter_end_date | byText:textFilter | byText:tagText) |
limitTo:totalDisplayed track by post.$id" align="center">

      <!-- ******************************* MOBILE CARD HERE *********************************** -->



      <md-card class="card" hide-md hide-gt-md show-xs show-sm ng-class="isFaotd(post.tags) ? 'highlight' : ''">

    <!--     <span class="score label label-default label-default"><b>{{ post.score }}</b></span> -->
        <div class="album-container">
          <a ng-href="{{ post.media_info.share_uri }}" target="_blank">
            <img class="md-card-image" ng-src="{{post.image_medium}}" />
          </a>
        </div>
        <div style="padding-top:5px; padding-bottom:10px">
          <div>
            <div>
              <img ng-repeat="i in getNumber(post.stars) track by $index" ng-src="/images/gold-star.png" class="star" />
              <a href="" ng-click="starPost(post)">
                <img ng-src="/images/empty-star.png" class="star" /></a>
            </div>
            <a ng-href="#/albums/{{post.$id}}" >
              {{ post.media_info.artist }} - {{ post.media_info.album }} ({{post.media_info.release_date | limitTo: 4}})</a>
            <div>
              <a ng-href="#/albums/{{ post.$id  }}">
                <span class="label label-pill label-info">{{ post.media_info.summary | limitTo: 40 }}{{post.media_info.summary.length > 40 ? '..' : ''}}</span></a>
            </div>

            <div layout="row" layout-align="center center">
              <md-chips class="tag-chip"  ng-model="post.tags"  readonly="true">
                <md-chip-template ng-click="load();filterByTag($chip.name)">

        <span>
          <small>{{$chip.name | lowercase}}</small>
        </span>

                </md-chip-template>
              </md-chips>
            </div>

          </div>
          <small><b>posted by <a ng-href="#/users/{{ post.creator_id }}">{{post.creator_name}}</b>

           <img src="/images/recordspin.gif"  style="padding-bottom:6px; padding-left:2px; height: 40px; width: auto;  display:inline-block;"
         ng-show="current_group =='firsttoflock' && trophy(post.creator_id)" height="30px"/>
         <img src="/images/crown.gif" style="padding-bottom:4px; padding-left:3px" ng-show="crown(post.creator_id)" height="30px"/>

        <!--  <img src="/images/poop.gif" style="padding-bottom:10px; padding-left:2px;height: 40px; width: auto;  display:inline-block;" ng-show="current_group =='firsttoflock' && poop(post.creator_id)"/> -->

            </a> <i>{{post.created_ts | timeAgo}}</i></small>

          <div layout="row" layout-align="center center" style="position:relative;right:0;bottom:0;">
            <md-button class="md-icon-button" ng-click="save(post)" aria-label="Save" >
              <ng-md-icon icon="save" class="arrow" size="28"></ng-md-icon>
            </md-button>

            <md-button class="md-icon-button" ng-click="upvote(post)" aria-label="Upvote" >
              <ng-md-icon icon="arrow_upwards" class="arrow" size="28"></ng-md-icon>
            </md-button>
        <md-button class="md-fab md-raised md-hue-1" style=" z-index:1"><b style="font-size:22pt">{{ post.score }}</b>
        </md-button>
            <md-button class="md-icon-button" ng-click="downvote(post)" aria-label="Downvote" >
              <ng-md-icon icon="arrow_downward" class="arrow" size="28"></ng-md-icon>
            </md-button>

            <md-button style="top:11px; left:2px; overflow:visible !important;" ng-href="#/albums/{{post.$id}}" aria-label="Comments" >
  <span class="comments-icon-big"><ng-md-icon icon="chat_bubble" class="arrow" size="30"></ng-md-icon>

  <span ng-hide="post.comments == 0" class="after label label-pill label-danger">{{ post.comments }}</span></span>
            </md-button>
          </div>
        </div>
      </md-card>


      <!-- *************************************** DESKTOP ************************************ -->

      <md-card class="card" flex="65" hide-xs hide-sm ng-class="isFaotd(post.tags) ? 'highlight' : ''">

        <div layout-xs="column" layout="row">

          <div flex="40">
            <a ng-href="#/albums/{{post.$id}}">

              <img class="md-card-image" style="width: 100%; height: auto;" ng-src="{{post.image_medium}}" /></a>
          </div>
          <div flex="50">
            <md-card-title>
              <md-card-title-text>
                <a ng-href="#/albums/{{post.$id}}">
   <span class="md-headline"><b>{{ post.media_info.artist }}</b><br/>
 {{ post.media_info.album | limitTo: 32 }}{{post.media_info.album.length > 32 ? '..' : ''}} ({{post.media_info.release_date | limitTo: 4}})</span></a>

 <div>
<span style="display:inline-block;margin-right:4px" ng-repeat="label in post.labels track by $index" class="label-tag label label-default">
 <md-tooltip md-direction="bottom">
      {{same_label}} other posted albums on this label
   </md-tooltip>
 <a style="color:white !important" href="" ng-click="load();filterByLabel(label)" ng-mouseleave="same_label == 0" ng-mouseover="albumsOnLabel(label)">{{label}}</span></a>

 </div>


<!--   <md-button ng-click="getDiscogsData(post)">DC data</md-button> -->

            <div>
            <img ng-repeat="i in getNumber(post.stars) track by $index" ng-src="/images/gold-star.png" class="star" />
                  <a href="" ng-click="starPost(post)">
              <md-tooltip md-direction="right">
                Star this album
              </md-tooltip>
                    <img ng-src="/images/empty-star.png" class="star" /></a>
                </div>
              </md-card-title-text>


            </md-card-title>
            <md-card-content>
              <div hide-sm>{{ post.media_info.summary| limitTo: 300 }}{{post.media_info.summary.length > 300 ? '...' : ''}}</div>
              <div show-sm hide-gt-sm> {{ post.media_info.summary| limitTo: 32 }}{{post.media_info.summary.length > 32 ? '..' : ''}}</div>

              <div layout="row" layout-align="center center">
                <md-chips class="tag-chip"  ng-model="post.tags"  readonly="true">
                  <md-chip-template ng-click="load();filterByTag($chip.name)">
                 <span>
                 <small>{{$chip.name | lowercase}}</small>
                 </span>
                  </md-chip-template>
                </md-chips>
                <!-- <md-chips ng-model="post.genre"  readonly="true">
                  <md-chip-template ng-click="load();filterByTag($chip.name)">
                 <span>
                 <small>{{$chip | lowercase}}</small>
                 </span>
                  </md-chip-template>
                </md-chips> -->
              </div>

     <span class="md-subhead"><small><b>posted by <a ng-href="#/users/{{ post.creator_id }}">{{ post.creator_name }}</b>

        <img src="/images/recordspin.gif"  style="padding-bottom:6px; padding-left:2px; height: 40px; width: auto;  display:inline-block;"
         ng-show="current_group =='firsttoflock' && trophy(post.creator_id)" height="30px"/>
         <img src="/images/crown.gif" style="padding-bottom:4px; padding-left:3px" ng-show="crown(post.creator_id)" height="30px"/>

        <!--  <img src="/images/poop.gif" style="padding-bottom:10px; padding-left:2px;height: 40px; width: auto;  display:inline-block;" ng-show="current_group =='firsttoflock' && poop(post.creator_id)"/> -->

       </a> <i>{{ post.created_ts | timeAgo}}</i></small></span>

            </md-card-content>
          </div>

          <div flex="10">
            <md-card-actions layout="column" layout-align="end center" style="position:relative;right:0;bottom:0;">
              <md-button class="md-fab md-raised md-hue-1" style=" z-index:1"><b style="font-size:22pt">{{ post.score }}</b> </md-button>


              <md-button class="md-icon-button" ng-click="save(post)" aria-label="Save" >
               <md-tooltip md-direction="right">
                Save to your queue
              </md-tooltip>
                <ng-md-icon icon="save" class="arrow" size="32"></ng-md-icon>
              </md-button>

              <md-button class="md-icon-button" ng-click="upvote(post)" aria-label="Upvote" >
                <md-tooltip md-direction="right">
                Upvote this album
              </md-tooltip>
                <ng-md-icon icon="arrow_upwards" class="arrow" size="32"></ng-md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-click="downvote(post)" aria-label="Downvote" >
              <md-tooltip md-direction="right">
                Downvote this album
              </md-tooltip>
                <ng-md-icon icon="arrow_downward" class="arrow" size="32"></ng-md-icon>
              </md-button>

              <md-button style="top:11px; left:2px; overflow:visible !important;" ng-href="#/albums/{{post.$id}}" aria-label="Comments" >
  <span class="comments-icon-big">
   <md-tooltip md-direction="right">
                View comments
              </md-tooltip>
  <ng-md-icon icon="chat_bubble" class="arrow" size="34"></ng-md-icon>
  <span ng-hide="post.comments == 0" class="after label label-pill label-danger">{{ post.comments }}</span></span>

              </md-button>

            </md-card-actions>
          </div>


        </div>
      </md-card>
      </div>
    </div>

    <div align="center" ng-show="!loadingCircle">
      <md-button ng-click="loadMore()" ng-show="filteredItems.length > totalDisplayed" >load more albums</md-button>
    </div>
    <div ng-show="loadingCircle" align="center">
      <md-progress-circular md-mode='indeterminate' md-diameter="132"></md-progress-circular>
    </div>
         <p ng-show="filteredItems.length == 0 && !loadingCircle" align="center"><br/><i>Nothing here yet</i></p>
</div>
