<div class="container" style="padding-top:60px" >
 
   <!--  <div class="col-sm-1">
      <img ng-src="http://www.gravatar.com/avatar/{{ profile.md5_hash }}" class="prof-img" />
    </div> -->

    <div align="center">
      <span class="name">posts by {{ profile.username }}
      </span>
    </div>
 <br/>

  <div ng-repeat="(key,post) in user_posts" align="center">
     <div class="user-post" ng-show="post.artist">
    <img ng-click="upvote(post)" src="/images/up.svg" height="30"></img>
 
        <a ng-href="{{post.spotify_uri}}">
        <img ng-src="{{post.image_medium}}" height="100" />
        </a>
         
           <img ng-click="downvote(post)" src="/images/down.svg" height="30"></img>

        <br/>
        <a ng-href="{{post.spotify_uri}}">
        {{post.artist}} - {{ post.album }}
        </a>
           <p>
         {{ post.votes }} votes
           <small>(posted by {{post.creator}})</small>
        <small><a ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID">&mdash; delete</a></small>
        </p>
 </div>
   
  </div>
</div>