<div class="container" style="padding-top:60px" >
 
   <!--  <div class="col-sm-1">
      <img ng-src="http://www.gravatar.com/avatar/{{ profile.md5_hash }}" class="prof-img" />
    </div> -->

    <div align="center">
      <span ng-show="view_tab == 'tabA'" class="name">posts by {{ profile.username }}</span>
      <span ng-show="view_tab == 'tabB'" class="name">liked by {{ profile.username }}</span>
      <p>
      score: {{score}}
      <br/>
      <img ng-repeat="i in getNumber(stars) track by $index" ng-src="/images/gold-star.png" height="18" />
      </p>
  <div class="sort-links">
  <a href ng-click="sorter = '-votes'">popular</a>
   <a href ng-click="sorter = '-'">new</a>
  <a href ng-click="sorter = 'votes'">unpopular</a>  
  <a href ng-click="sorter = '-comments'">comments</a> 
  <a href ng-click="sorter = '-stars'">stars</a> 


    </div>
    </div>
    <div class="btn-group-lg" role="group" aria-label="profiletabs" align="center">
  <button type="button" class="btn btn-secondary" ng-class="{'active': view_tab == 'tabA'}" ng-click="changeTab('tabA')" >posts</button>
  <button type="button" class="btn btn-secondary" ng-class="{'active': view_tab == 'tabB'}" ng-click="changeTab('tabB')" >likes</button>
</div>
 <br/>

  <div ng-repeat="(key,post) in user_posts | orderBy:sorter" ng-show="view_tab == 'tabA'" align="center" >
     <div class="post" ng-show="post.artist">
    <img ng-click="upvote(post)" src="/images/up.svg" height="30"></img>
 
        <a ng-href="{{post.spotify_uri}}" target="_blank">
        <img ng-src="{{post.image_medium}}" height="100" />
        </a>
         
           <img ng-click="downvote(post)" src="/images/down.svg" height="30"></img>

        <br/>
        <a ng-href="{{post.spotify_uri}}" target="_blank">
        {{post.artist}} - {{ post.album }} ({{post.release_date | limitTo: 4}})
        </a>
          <div>
 <a data-toggle="modal" ng-click="starPost(post)" href="" >  
          <img ng-repeat="i in getNumber(post.stars) track by $index" ng-src="/images/gold-star.png" height="18" />
      <img ng-src="/images/empty-star.png" height="18" /></a>

      </div>
        <div>
          <div><span class="label label-default">{{post.category}}</span></div>
       <span class="label label-pill label-info">{{ post.summary | limitTo: 40 }}{{post.summary.length > 40 ? '..' : ''}}</span>
         </div>
           <p>
         {{ post.votes }} votes
           <small>(posted by {{post.creator}})</small>
        
         <small><a ng-href="#/posts/{{ post.$id  }}">comments ({{post.comments}})</a></small>
         <small><a href="" ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID">&mdash; delete</a></small>
        </p>
 </div>
 </div>



   <div ng-repeat="post in likes | orderBy:sorter" ng-show="view_tab == 'tabB'" align="center">

     <div class="post" ng-show="post.artist">
    
 
        <a ng-href="{{post.spotify_uri}}" target="_blank">
        <img ng-src="{{post.image_medium}}" height="100" />
        </a>
         
           

        <br/>
        <a ng-href="{{post.spotify_uri}}" target="_blank">
        {{post.artist}} - {{ post.album }}
        </a>
          <div>
<a data-toggle="modal" ng-click="starPost(post)" href="" >  
          <img ng-repeat="i in getNumber(post.stars) track by $index" ng-src="/images/gold-star.png" height="18" />
      <img ng-src="/images/empty-star.png" height="18" /></a>
          <span class="label label-default">{{post.category}}</span></div>
        <span class="label label-pill label-info">{{ post.summary | limitTo: 40 }}{{post.summary.length > 40 ? '..' : ''}}</span>
           <p>
         {{ post.votes }} votes
           <small>(posted by <a ng-href="#/users/{{ post.creatorUID }}">{{post.creator}}</a>)</small>
        
         <small><a ng-href="#/posts/{{ post.$id  }}">comments ({{post.comments}})</a></small>
         <small><a href="" ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID">&mdash; delete</a></small>
        </p>
 </div>
   
  </div>
</div>