<div class="container" ng-cloak>
<div class="auth-forms">
   <div ng-show="regLoading" align="center">
   <small><i>Please hold..</i></small>
      <md-progress-circular md-mode='indeterminate' md-diameter="132"></md-progress-circular>
    </div>
	<div ng-show="showContact">
	  <p>Welcome to Flockify!<br/>
	   Looks like you don't have a valid group name. Please <a href="">contact us</a> to set one up!</p>
	</div>
  <form ng-submit="register()" ng-hide="hideRegistration" class="text-dark">
  <p class="text-dark">Welcome to Flockify!<br/>
  You are registering for group: {{beta_group_name}}</p>
  <br/>
    <p ng-show="error" class="text-danger">{{ error.message }}</p>
    <input type="text" ng-model="user.username" placeholder="Username" class="form-control"><br>
    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
    <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
    <input type="submit" value="Register" class="btn btn-primary" />
  </form>

</div>
</div>