<div align="center">
<h2 align="center">Album a day Contest (3/21)</h2>
<p><img src="/images/gold-star.png" height="20px"/> Winner: s3rg <img src="/images/gold-star.png" height="20px"/></p>
<small>
Best album: Public Service Broadcasting - The Race For Space (posted by Nrblanks)<br/>
Worst album: Trombone Shorty - For True (posted by Pach) & Cassius - The Rawkers (posted by Oat)<br/>
Most stars: sparker (4) & s3rg (4)<br/>
Best ratio: sparker (7.5)<br/>
<!-- Most upvotes given: Johnson (14)<br/>
Least upvotes given ("The Freeloader Award"): Pach (0), Stevie (0), Oat (0)<br/> -->
<br/>
</small>

<table class="table table-inverse">
    <thead>
      <tr>
        <th>rank</th>
        <th>user</th>
        <th>score</th>
      </tr>
    </thead>
    <tbody>
      <!-- ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr  >
        <th scope="row" class="ng-binding">1</th>
        <td class="ng-binding">s3rg <img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 'Ryan'" height="50px" aria-hidden="true" class="ng-hide"><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 's3rg'" height="30px" aria-hidden="false" class=""></td>
        <td class="ng-binding">21</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr  >
        <th scope="row" class="ng-binding">2</th>
        <td class="ng-binding">Pach <img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 'Ryan'" height="50px" aria-hidden="true" class="ng-hide"><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 's3rg'" height="30px" aria-hidden="true" class="ng-hide"></td>
        <td class="ng-binding">19</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr  >
        <th scope="row" class="ng-binding">3</th>
        <td class="ng-binding">kev <img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 'Ryan'" height="50px" aria-hidden="true" class="ng-hide"><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 's3rg'" height="30px" aria-hidden="true" class="ng-hide"></td>
        <td class="ng-binding">17</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr  >
        <th scope="row" class="ng-binding">4</th>
        <td class="ng-binding">sparker <img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 'Ryan'" height="50px" aria-hidden="true" class="ng-hide"><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 's3rg'" height="30px" aria-hidden="true" class="ng-hide"></td>
        <td class="ng-binding">15</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr  >
        <th scope="row" class="ng-binding">5</th>
        <td class="ng-binding">Nrblanks <img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 'Ryan'" height="50px" aria-hidden="true" class="ng-hide"><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 's3rg'" height="30px" aria-hidden="true" class="ng-hide"></td>
        <td class="ng-binding">13</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr  >
        <th scope="row" class="ng-binding">6</th>
        <td class="ng-binding">add1son <img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 'Ryan'" height="50px" aria-hidden="true" class="ng-hide"><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 's3rg'" height="30px" aria-hidden="true" class="ng-hide"></td>
        <td class="ng-binding">13</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr  >
        <th scope="row" class="ng-binding">7</th>
        <td class="ng-binding">Stevie <img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 'Ryan'" height="50px" aria-hidden="true" class="ng-hide"><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 's3rg'" height="30px" aria-hidden="true" class="ng-hide"></td>
        <td class="ng-binding">9</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr  >
        <th scope="row" class="ng-binding">8</th>
        <td class="ng-binding">Johnson <img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 'Ryan'" height="50px" aria-hidden="true" class="ng-hide"><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 's3rg'" height="30px" aria-hidden="true" class="ng-hide"></td>
        <td class="ng-binding">7</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr  >
        <th scope="row" class="ng-binding">9</th>
        <td class="ng-binding">Fidel Caso <img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 'Ryan'" height="50px" aria-hidden="true" class="ng-hide"><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 's3rg'" height="30px" aria-hidden="true" class="ng-hide"></td>
        <td class="ng-binding">5</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr  >
        <th scope="row" class="ng-binding">10</th>
        <td class="ng-binding">davidemerritt <img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 'Ryan'" height="50px" aria-hidden="true" class="ng-hide"><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 's3rg'" height="30px" aria-hidden="true" class="ng-hide"></td>
        <td class="ng-binding">5</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr  >
        <th scope="row" class="ng-binding">11</th>
        <td class="ng-binding">Oat <img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 'Ryan'" height="50px" aria-hidden="true" class="ng-hide"><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 's3rg'" height="30px" aria-hidden="true" class="ng-hide"></td>
        <td class="ng-binding">3</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr  >
        <th scope="row" class="ng-binding">12</th>
        <td class="ng-binding">Ryan <img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 'Ryan'" height="50px" aria-hidden="false" class=""><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 's3rg'" height="30px" aria-hidden="true" class="ng-hide"></td>
        <td class="ng-binding">0</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' -->
    </tbody>
  </table>





<h2>Album a Day Contest (3/14)</h2>
<p><img src="/images/gold-star.png" height="20px"/> Winner: Johnson <img src="/images/gold-star.png" height="20px"/></p>
<small>
Best album: EL VY - Return to the Moon (posted by sparker)<br/>
Worst album: Phish - LivePhish, Vol. 13 10/31/94 (posted by kev)<br/>
Most stars: Johnson (3)<br/>
Best ratio: sparker (5.5)<br/>
Most upvotes given: Johnson (14)<br/>
Least upvotes given ("The Freeloader Award"): Pach (0), Stevie (0), Oat (0)<br/>
<br/>
</small>
</div>
<table class="table table-inverse">
    <thead>
      <tr>
        <th>rank</th>
        <th>user</th>
        <th>score</th>
      </tr>
    </thead>
    <tbody>
      <!-- ngRepeat: user in users | orderBy:'-weekly_scores.album_score' -->
        <th scope="row" class="ng-binding">1</th>
        <td class="ng-binding">Johnson</td>
        <td class="ng-binding">15</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">2</th>
        <td class="ng-binding">sparker </td>
        <td class="ng-binding">11</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">3</th>
        <td class="ng-binding">Pach </td>
        <td class="ng-binding">10</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">4</th>
        <td class="ng-binding">add1son </td>
        <td class="ng-binding">6</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">5</th>
        <td class="ng-binding">s3rg<img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 's3rg' || user.$id == 'Oat'" height="50px" class=""><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 'kev' || user.$id == 'Ryan'" height="30px" class="ng-hide"></td>
        <td class="ng-binding">5</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">6</th>
        <td class="ng-binding">Nrblanks </td>
        <td class="ng-binding">4</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">7</th>
        <td class="ng-binding">davidemerritt </td>
        <td class="ng-binding">3</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">8</th>
        <td class="ng-binding">Fidel Caso </td>
        <td class="ng-binding">2</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">9</th>
        <td class="ng-binding">Ryan<img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 's3rg' || user.$id == 'Oat'" height="50px" class="ng-hide"><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 'kev' || user.$id == 'Ryan'" height="30px" class=""></td>
        <td class="ng-binding">1</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">10</th>
        <td class="ng-binding">Oat<img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 's3rg' || user.$id == 'Oat'" height="50px" class=""><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 'kev' || user.$id == 'Ryan'" height="30px" class="ng-hide"></td>
        <td class="ng-binding">0</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">11</th>
        <td class="ng-binding">Stevie </td>
        <td class="ng-binding">0</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">12</th>
        <td class="ng-binding">kev<img src="/images/poop.gif" style="padding-bottom:4px" ng-show="user.$id == 's3rg' || user.$id == 'Oat'" height="50px" class="ng-hide"><img src="/images/gold-record.png" style="padding-bottom:4px; padding-left:3px" ng-show="user.$id == 'kev' || user.$id == 'Ryan'" height="30px" class=""></td>
        <td class="ng-binding">-2</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' -->
    </tbody>
  </table>





  <div align="center">
<h2>First Weekly Flockify Contest (3/7)</h2>
<p><img src="/images/gold-star.png" height="20px"/> Winners: kev, Ryan <img src="/images/gold-star.png" height="20px"/></p>
</div>
<table class="table table-inverse">
    <thead>
      <tr>
        <th>rank</th>
        <th>user</th>
        <th>score</th>
      </tr>
    </thead>
    <tbody>
      <!-- ngRepeat: user in users | orderBy:'-weekly_scores.album_score' -->
        <th scope="row" class="ng-binding">1</th>
        <td class="ng-binding">kev</td>
        <td class="ng-binding">21</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">2</th>
        <td class="ng-binding">Ryan</td>
        <td class="ng-binding">21</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">3</th>
        <td class="ng-binding">Johnson</td>
        <td class="ng-binding">19</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">4</th>
        <td class="ng-binding">sparker</td>
        <td class="ng-binding">17</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">5</th>
        <td class="ng-binding">add1son</td>
        <td class="ng-binding">15</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">6</th>
        <td class="ng-binding">davidemerritt</td>
        <td class="ng-binding">9</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">7</th>
        <td class="ng-binding">Pach</td>
        <td class="ng-binding">7</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">8</th>
        <td class="ng-binding">Stevie</td>
        <td class="ng-binding">4</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">9</th>
        <td class="ng-binding">Fidel Caso</td>
        <td class="ng-binding">3</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">10</th>
        <td class="ng-binding">Nrblanks</td>
        <td class="ng-binding">-2</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">11</th>
        <td class="ng-binding">Oat</td>
        <td class="ng-binding">-4</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' --><tr   >
        <th scope="row" class="ng-binding">12</th>
        <td class="ng-binding">s3rg</td>
        <td class="ng-binding">-4</td>      
      </tr><!-- end ngRepeat: user in users | orderBy:'-weekly_scores.album_score' -->
    </tbody>
  </table>