<div class="container" style="padding-top:60px" >


<h1 align="center">Albums</h1>
<table class="table table-inverse">
  <thead>
    <tr>
      <th>rank</th>
      <th>user</th>
      <th>score</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | orderBy:'-album_score'">
      <th scope="row">{{$index + 1}}</th>
      <td>{{user.$id}}</td>
      <td>{{user.album_score}}</td>      
    </tr>
  </tbody>
</table>

<h1 align="center">Podcasts</h1>
<table class="table table-inverse">
  <thead>
    <tr>
      <th>rank</th>
      <th>user</th>
      <th>score</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | orderBy:'-podcast_score'">
      <th scope="row">{{$index + 1}}</th>
      <td>{{user.$id}}</td>
      <td>{{user.podcast_score}}</td>      
    </tr>
  </tbody>
</table>

<h1 align="center">Movies</h1>
<table class="table table-inverse">
  <thead>
    <tr>
      <th>rank</th>
      <th>user</th>
      <th>score</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | orderBy:'-movie_score'">
      <th scope="row">{{$index + 1}}</th>
      <td>{{user.$id}}</td>
      <td>{{user.movie_score}}</td>      
    </tr>
  </tbody>
</table>

<h1 align="center">Books</h1>
<table class="table table-inverse">
  <thead>
    <tr>
      <th>rank</th>
      <th>user</th>
      <th>score</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | orderBy:'-book_score'">
      <th scope="row">{{$index + 1}}</th>
      <td>{{user.$id}}</td>
      <td>{{user.book_score}}</td>      
    </tr>
  </tbody>
</table>

</div>