      <md-dialog aria-label="Zip"  ng-cloak>
  <form>
   <md-dialog-content>
      <div class="md-dialog-content">
      <md-input-container class="md-block" flex-gt-sm>
            <label>Change your current zip</label>
            <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply a zip code.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                code.
              </div>
              <div ng-message="md-maxlength" class="my-message">
              Too many digits
              </div>
            </div>
          </md-input-container>
          </form>
          </div>
          </md-dialog-content>
          </md-dialog>